.SearchList-body {
  margin: auto;
  padding: 15px;
  margin-bottom: 10px;
  border: 0.5px solid lightskyblue;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.SearchList-item {
  cursor: pointer;
  width: 20%;
  height: 150px
}

.SearchList-description {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.SearchList-description p{
  width: 100%;
}