.Edit-body h2 {
  width: 100%;
}

.Edit-body {
  width: 80%;
  margin: 30px auto;

}

.Edit-body form{
  padding: 0 10px;
  clear: both;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap
}

.Edit-buttons {
  display: flex;
  justify-content: space-around;
  margin: 50px;
  padding: 0 100px
}

.Edit-general {
  padding: 20px;
  margin: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap
}

.Edit-places, .Edit-additional {
  padding: 20px;
  margin: 20px;
  width: 42%;
}