.Create-body h2 {
  width: 100%;
}

.Create-body {
  width: 80%;
  margin: auto;
  margin-top: 30px;
}

.Create-body form{
  padding: 0 10px;
  clear: both;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap
}
